@import '../../styles/global.scss';

.bookShelves {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 $baseline-2 0;

  @include media-sm {
    padding: 0 0 $baseline-3 0;
  }

  &.hasHeader {
    height: calc(100% - #{$baseline-6});

    @include media-sm {
      height: calc(100% - #{$baseline-5});
    }
  }
}

.bookShelf {
  flex: 1;
  margin-bottom: 0;
}
