@import '../../styles/global.scss';

.bookShelves {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  padding: $baseline-2 0;
}

.bookShelf {
  flex: 1;
  margin-bottom: $baseline-2;

  &:last-child {
    margin-bottom: 0;
  }
}
