@import '../../styles/global.scss';

.bookCard {
  position: relative;
  display: block;
  margin-right: $baseline-3;
}

.image {
  display: block;
  width: auto;
  // height: calc(100% - #{$baseline-2});
}

.debugNumber {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 0.5em;
  color: #333;
  font-weight: 900;
  font-size: 80px;
  text-shadow: 3px 3px #ccc;
  background-color: white;
}

.debugNumber2 {
  position: absolute;
  top: 130px;
  left: 50px;
  padding: 0.5em;
  color: #333;
  font-weight: 900;
  font-size: 40px;
  // text-shadow: 3px 3px #cccccc;
  background-color: white;
}
