@import '../../styles/global.scss';

.offTheShelfLogoBordersNew {
  position: relative;
  display: block;
  width: 30%;
  height: 300px;
  // border: 1px solid white;
}

.border {
  position: absolute;
  background-color: $colour-teal;
}

.yellow {
  background-color: $colour-yellow;
}

.white {
  background-color: $colour-white;
}
