@import '../../styles/global.scss';

.bookCardModal {
  @include media-lg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin-top: 0;
    margin-bottom: $baseline-1;
    font-weight: 600;
    font-size: $font-size-xxlg;
    line-height: $baseline-4 + $baseline-half;
    text-align: center;

    @include media-lg {
      text-align: left;
    }

    :global(.gallery-version) & {
      margin-right: 0;
      font-size: $font-size-xxxlg;
      line-height: $baseline-6;
      text-align: left;
    }
  }

  p {
    &.highlight {
      color: $colour-yellow;
    }
  }
}

.inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  @include media-lg {
    flex-direction: row;
    max-width: 60rem;
    height: 100%;
    max-height: 40rem;
  }

  :global(.gallery-version) & {
    justify-content: center;
    max-width: initial;
    max-height: initial;
  }
}

.creator {
  margin-top: 0;
  // margin-right: $baseline-6;
  margin-bottom: $baseline-3;
  color: $colour-yellow;
  font-weight: 300;
  font-size: $font-size-md;
  line-height: $baseline-3;
  text-align: center;

  @include media-lg {
    text-align: left;
  }

  :global(.gallery-version) & {
    justify-content: center;
    margin-right: 0;
    font-size: $font-size-lg;
    text-align: left;
  }
}

.imageWrapper {
  order: 2;
  width: 100%;
  max-width: 24rem;
  max-height: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-bottom: $baseline-2;

  @include media-lg {
    order: 1;
    height: 100%;
    margin-left: -$baseline-4;
    padding-bottom: 0;
    padding-left: $baseline-4;
    overflow: hidden;
  }

  :global(.gallery-version) & {
    width: initial;
    max-width: initial;
    max-height: 100%;
    margin-right: initial;
  }
}

.image {
  position: relative;
  z-index: 1;
  width: calc(100% - #{$baseline * 10});
  height: auto;
  margin-top: -$baseline * 9;
  margin-left: $baseline * 5;

  @include media-lg {
    width: 100%;
    height: auto;
    margin-top: initial;
    margin-left: initial;
  }

  :global(.gallery-version) & {
    width: auto;
    height: 100%;
  }
}

.imageBorders {
  height: $baseline * 14;

  @include media-lg {
    display: none;
  }
}

.topBorders {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  height: 140px;
  pointer-events: none;

  @include media-lg {
    display: block;
  }
}

// .bottomBorders {
//   position: absolute;
//   top: auto;
//   bottom: $baseline * 4;
//   width: 140px;
//   height: 100px;
// }

.headingDivider {
  width: $baseline * 4;
  height: 6px;
  margin: 0 auto $baseline * 3 auto;
  border-bottom: 2px solid $colour-teal;
  border-left: 2px solid $colour-teal;

  @include media-lg {
    height: 6px;
    margin-left: 0;
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  order: 3;
  width: 100%;
  max-width: 86ch;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    line-height: $baseline-2 + $baseline-half;

    // @include media-lg {
    //   line-height: $baseline-3 + $baseline-half;
    // }
  }

  @include media-lg {
    order: 2;
    margin-right: initial;
    margin-left: $baseline-5;
  }
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @include media-lg {
    height: 100%;
  }

  :global(.gallery-version) & {
    height: calc(100% - #{$baseline * 35});
  }
}

$colour-white-transparent: rgba(255, 255, 255, 0);
$colour-black-transparent: rgba(0, 0, 0, 0);
$colour-black-transparent-20: rgba(0, 0, 0, 0.2);

.content {
  @include scrollbar();

  z-index: 2;
  min-height: 200px;
  margin-top: $baseline * 1;
  word-wrap: break-word;
  background:
    /* Shadow covers */ linear-gradient(
      $colour-black 30%,
      $colour-black-transparent
    ),
    linear-gradient($colour-black-transparent, $colour-black 70%) 0 100%,
    /* Shadows */
      linear-gradient(
        $colour-white-transparent calc(100% - 2px),
        $colour-grey-900 calc(100%)
      )
      0 100%;
  background-color: $colour-black;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll;

  @include media-lg {
    width: calc(100% - #{$baseline * 5});
    margin-top: $baseline * 5;
    padding-right: $baseline * 3;
    padding-left: $baseline * 4;
    overflow: auto;
    // border-bottom: 1px solid $colour-grey-900;
  }

  :global(.gallery-version) & {
    width: calc(100% - #{$baseline * 8});
    height: calc(100% - #{$baseline * 11});
    margin-top: $baseline * 8;
    padding-right: $baseline * 3;
    padding-left: $baseline * 8;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  max-width: 30rem;
  margin-right: auto;
  margin-bottom: $baseline-4;
  margin-left: auto;
  font-size: $font-size-md;
  line-height: $baseline-3;

  :global(.gallery-version) & {
    margin-left: initial;
    font-size: $font-size-xlg;
    line-height: $baseline-4;
  }
}

.table {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 0 auto;
  font-size: $font-size-lg;

  :global(.gallery-version) & {
    margin-left: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: $baseline-1;
    line-height: $baseline-2 + $baseline-half;

    :global(.gallery-version) & {
      margin-bottom: $baseline-2;
      line-height: $baseline-3 + $baseline-half;
    }
  }

  .row {
    display: flex;
  }

  .label {
    flex-basis: 16ch;
    padding-right: $baseline-2;
    font-size: $font-size-sm;
    opacity: 0.6;

    :global(.gallery-version) & {
      padding-right: $baseline-3;
      font-size: $font-size-md;
    }
  }

  .value {
    flex: 1;
    font-size: $font-size-sm;
    text-transform: capitalize;

    :global(.gallery-version) & {
      font-size: $font-size-lg;
    }
  }
}

.extraContent {
  // p {
  //   line-height: $baseline-3 + $baseline-half;
  // }
  margin-top: $baseline-4;
  padding: $baseline-2;
  font-size: $font-size-sm;
  border: $baseline/2 solid $colour-teal;
  border-right: none;
  border-bottom: none;

  @include media-lg {
    width: calc(100% - #{$baseline * 16});
    margin-top: auto;
    margin-left: $baseline-8;
    // margin-bottom: $baseline-4;
    padding: $baseline-4;
    border: $baseline/2 solid $colour-teal;
    border-right: none;
    border-bottom: none;
  }

  :global(.gallery-version) & {
    font-size: $font-size-md;
  }

  span {
    color: $colour-yellow;
  }
}

.backButton {
  order: 1;
  margin-top: 0;
  margin-bottom: $baseline-2;
  margin-left: auto;

  @include media-lg {
    order: 3;
    margin-left: $baseline-2;
  }

  :global(.gallery-version) & {
    margin-top: $baseline * 3;
    margin-left: $baseline-4;
  }
}

.shareBox {
  margin-top: $baseline-4;
  margin-right: auto;
  margin-bottom: $baseline-8;
  margin-left: auto;

  @include media-lg {
    margin-top: $baseline-4;
    margin-left: 0;
  }
}
