@import '../../styles/global.scss';

.bookCardModal {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  h1 {
    margin-top: 0;
    margin-bottom: $baseline-2;
    font-weight: 600;
    font-size: $font-size-xxxlg;
    line-height: $baseline-6;
  }

  h2 {
    margin-top: 0;
    margin-bottom: $baseline-4;
    color: $colour-yellow;
    font-weight: 300;
    font-size: $font-size-lg;
  }

  p {
    &.highlight {
      color: $colour-yellow;
    }
  }
}

.imageWrapper {
  height: 100%;
  margin-left: -$baseline-4;
  padding-left: $baseline-4;
  overflow: hidden;
}

.image {
  position: relative;
  z-index: 1;
  width: auto;
  height: 100%;
}

.topBorders {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 140px;
  pointer-events: none;
}

// .bottomBorders {
//   position: absolute;
//   top: auto;
//   bottom: $baseline * 4;
//   width: 140px;
//   height: 100px;
// }

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 86ch;
  height: 100%;
  margin-left: $baseline-5;

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    line-height: $baseline-3 + $baseline-half;
  }
}

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.content {
  @include scrollbar();

  z-index: 2;
  width: calc(100% - #{$baseline * 8});
  height: calc(100% - #{$baseline * 17});
  margin-top: $baseline * 8;
  padding-right: $baseline * 3;
  padding-left: $baseline * 8;
  overflow: auto;
  word-wrap: break-word;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  margin-bottom: $baseline-6;
  font-size: $font-size-xlg;
  line-height: $baseline-4;
}

.table {
  display: flex;
  flex-direction: column;
  font-size: $font-size-lg;

  p {
    margin-top: 0;
    margin-bottom: $baseline-2;
    line-height: $baseline-3 + $baseline-half;
  }

  .row {
    display: flex;
  }

  .label {
    flex-basis: 16ch;
    padding-right: $baseline-3;
    font-size: $font-size-md;
    opacity: 0.6;
  }

  .value {
    flex: 1;
    text-transform: capitalize;
  }
}

.extraContent {
  width: calc(100% - #{$baseline * 16});
  margin-top: auto;
  margin-left: $baseline-8;
  // margin-bottom: $baseline-4;
  padding: $baseline-4;
  border: $baseline/2 solid $colour-teal;
  border-right: none;
  border-bottom: none;
  // font-size: $font-size-lg;

  // p {
  //   line-height: $baseline-3 + $baseline-half;
  // }

  span {
    color: $colour-yellow;
  }
}

.backButton {
  margin-top: $baseline * 3;
  margin-left: $baseline-4;
}
