@import '../../styles/global.scss';

.ctaButton {
  width: fit-content;
  padding: $baseline-1;
  color: $colour-white;
  font-weight: 500;
  font-size: $font-size-sm;
  line-height: 1;
  text-transform: uppercase;
  border: 2px solid $colour-teal;

  @include media-sm {
    padding: $baseline-2;
    font-size: $font-size-lg;
    border-width: 4px;
  }
}
