@import '../../styles/global.scss';

.ctaButton {
  position: relative;
  width: fit-content;
  padding: $baseline-1;
  color: $colour-white;
  font-weight: 500;
  font-size: $font-size-xs;
  line-height: 1;
  text-transform: uppercase;
  // border-top: 2px solid $colour-teal;
  // border-right: 2px solid $colour-teal;
  border: 2px solid $colour-teal;

  // &::before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: calc(100% - #{$baseline});
  //   border-left: 2px solid $colour-teal;
  //   content: '';

  //   @include media-sm {
  //     height: $baseline;
  //     border-width: 4px;
  //   }
  // }

  // &::after {
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   // width: calc(100% - #{$baseline});
  //   // width: $baseline-half;
  //   border-bottom: 2px solid $colour-teal;
  //   content: '';

  //   @include media-sm {
  //     width: $baseline;
  //     border-width: 4px;
  //   }
  // }

  &:disabled {
    // color: $colour-grey-400;
    animation: disabledAnimation ease-in-out 1s;
    animation-iteration-count: infinite;
  }

  :global(.gallery-version) & {
    padding: $baseline-2;
    font-size: $font-size-lg;
    border-width: 4px;

    &.sm {
      padding: $baseline-1;
      font-size: $font-size-xs;
      border-width: 2px;
    }
  }
}

@keyframes disabledAnimation {
  0% {
    opacity: 1;
    // border-color: $colour-teal;
  }

  50% {
    opacity: 0.7;
    // border-color: $colour-white;
  }

  100% {
    opacity: 1;
    // border-color: $colour-teal;
  }
}
