@use 'sass:math';

@import '../../styles/global.scss';

$logoWidth: 450px;
$textWidth: 310px;
$textTop: 48px;
$textLeft: 90px;
$divBordersHeight: 340px;

.offTheShelfLogo {
  position: relative;
  display: block;
  width: $logoWidth;
  min-width: $logoWidth;

  &.sm {
    width: math.div($logoWidth, 2);
    min-width: math.div($logoWidth, 2);
  }
}

.text {
  position: absolute;
  top: $textTop;
  left: $textLeft;
  z-index: 2;
  width: $textWidth;

  &.sm {
    top: math.div($textTop, 2);
    left: math.div($textLeft, 2);
    width: math.div($textWidth, 2);
  }
}

.divBorders {
  top: 0;
  height: $divBordersHeight;

  &.sm {
    height: math.div($divBordersHeight, 2);
  }
}
