@import '../../styles/global.scss';

$logoWidth: 450px;
$textWidth: 310px;
$textTop: 48px;
$textLeft: 90px;
$divBordersHeight: 340px;

.offTheShelfLogo {
  position: relative;
  display: block;
  width: $logoWidth;
  min-width: $logoWidth;

  &.sm {
    width: $logoWidth/2;
    min-width: $logoWidth/2;
  }
}

.text {
  position: absolute;
  top: $textTop;
  left: $textLeft;
  z-index: 2;
  width: $textWidth;

  &.sm {
    top: $textTop/2;
    left: $textLeft/2;
    width: $textWidth/2;
  }
}

.divBorders {
  top: 0;
  height: $divBordersHeight;

  &.sm {
    height: $divBordersHeight/2;
  }
}
