@import '../../styles/global.scss';

.offTheShelfLogo {
  position: relative;
  display: block;
  width: 450px;
}

.text {
  position: absolute;
  top: 48px;
  left: 90px;
  z-index: 2;
  width: 310px;
}

// .borders {
//   top: 0;
//   z-index: 1;
// }

.divBorders {
  top: 0;
  height: 340px;
}
