@import '../../styles/global.scss';

.footerInfo {
  position: relative;
  display: inline-block;
  margin-top: $baseline-4;
  margin-bottom: $baseline-4;
}

.logoHolder {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  margin-top: $baseline-2;
  margin-bottom: $baseline-3;
  margin-left: $baseline-4;
}

.logo {
  display: block;
  margin-right: $baseline-3;
}

.logoDxlab {
  max-width: 6em;
}

.logoSlnsw {
  max-width: 8.5em;
  margin-right: 0;
}

ul.menu {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin-right: $baseline-2;
  margin-bottom: $baseline-3;
  margin-left: $baseline-4;
  padding-left: 0;
  font-size: $font-size-sm;
  list-style-type: none;

  li {
    margin-right: $baseline-1;
    margin-bottom: $baseline-1;
    padding-right: $baseline-1;
    line-height: 1;
    border-right: 1px solid $colour-white;
  }

  li:last-child {
    border-right: none;
  }
}

.borders {
  position: absolute;
  bottom: 0;
  z-index: 0;
  height: 100%;
}
