@import '../../styles/global.scss';

.bookShelf {
  display: flex;
  align-items: flex-end;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
