@import '../../styles/global.scss';

.modal {
  position: fixed;

  // top: 50%;
  // left: 50%;
  z-index: 10;
  // width: calc(100% - #{$baseline * 8});
  // height: calc(100% - #{$baseline * 8});
  padding: $baseline-2;
  background: $colour-black;
  // transform: translate(-50%, -50%);
  overflow: auto;

  @include media-sm {
    padding: $baseline-8;
  }
}
