@import '../../styles/global.scss';

.modal {
  position: fixed;
  top: 0;
  // top: 50%;
  // left: 50%;
  z-index: 10;
  // width: calc(100% - #{$baseline * 8});
  // height: calc(100% - #{$baseline * 8});
  padding: $baseline-2;
  overflow: auto;
  background: $colour-black;
  // transform: translate(-50%, -50%);

  @include media-lg {
    padding: $baseline-4;
  }

  :global(.gallery-version) & {
    padding: $baseline-8;
  }
}
