@import '../../styles/global.scss';

.shareBox {
  position: relative;
  z-index: 1;
  display: block;
  width: fit-content;
  width: -moz-fit-content;

  .title {
    margin-bottom: $baseline;
    margin-left: $baseline * 3.5;
    padding-top: $baseline * 1.5;
    color: $colour-white;
    font-weight: 500;
    font-size: $font-size-sm;
    text-align: left;
    text-transform: uppercase;
  }
}

.icons {
  position: relative;
  z-index: 1;
  margin-left: $baseline * 3.5;
}

.icon {
  margin-right: $baseline-3;
  color: $colour-white;
  font-size: $font-size-xxlg;

  &:hover,
  &:active {
    color: $colour-yellow;
  }
}

.borders {
  position: absolute;
  top: 0;
  z-index: 0;
  height: $baseline * 11.5;
}
