@import '../../styles/global.scss';

// .offTheShelfApp {
//   display: block;
// }

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 30rem;
  transform: translate(-50%, -50%);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
