/*
 * VARIABLES
 * Shared variables for all pages and components
 * ========================================================================== */

/*
 * Colours
 * ------------------------------------------------------------------------ */

$colour-primary: #f68b1f; // TODO: This orange is WIP
$colour-primary-light: red; // TODO: Update this colour
$colour-secondary: #64c3af;
$colour-secondary-light: #8fffb6;
$colour-highlight: #ed0180;

$colour-yellow: #f4cd3b;
$colour-teal: #4b8291;

$colour-black: #060606;
$colour-white: #f6f6f6;

$colour-grey-50: #f6f6f6; // Light Grey #3
$colour-grey-100: #eee; // Light Grey #2
$colour-grey-200: #ccc; // Light Grey #1
$colour-grey-300: #aaa;
$colour-grey-400: #999;
$colour-grey-500: #777; // Mid Grey
$colour-grey-600: #666;
$colour-grey-700: #555; // Dark Grey #1
$colour-grey-800: #333;
$colour-grey-900: #222; // Dark Grey #3

/*
  * Baseline
  * ------------------------------------------------------------------------ */

$baseline: 8px;
$baseline-half: $baseline/2;
$baseline-1: $baseline;
$baseline-2: $baseline * 2;
$baseline-3: $baseline * 3;
$baseline-4: $baseline * 4;
$baseline-5: $baseline * 5;
$baseline-6: $baseline * 6;
$baseline-7: $baseline * 7;
$baseline-8: $baseline * 8;

/*
  * Fonts
  * ------------------------------------------------------------------------ */

$font-scale: 1.25;
$font-size-rem: 16px;
$font-size-md: 1rem;

$font-size-sm: (1 / $font-scale) * $font-size-md;
$font-size-xs: (1 / $font-scale) * $font-size-sm;
$font-size-xxs: (1 / $font-scale) * $font-size-xs;

$font-size-lg: $font-scale * $font-size-md;
$font-size-xlg: $font-scale * $font-size-lg;
$font-size-xxlg: $font-scale * $font-size-xlg;
$font-size-xxxlg: $font-scale * $font-size-xxlg;
$font-size-xxxxlg: $font-scale * $font-size-xxxlg;

// $font-family-primary: 'Barlow', Helvetica, sans-serif;
$font-family-primary: 'Gotham A', 'Gotham B', Helvetica, sans-serif;
// $font-family-secondary: 'Barlow', Helvetica, sans-serif;

/*
  * Containers
  * ------------------------------------------------------------------------ */

$container-width-xs: 20rem;
$container-width-sm: 33.5rem;
$container-width-md: 40rem;
$container-width-lg: 60rem;
$container-width-xlg: 80rem;
$container-width-xxlg: 100rem;
$container-width-xxxlg: 120rem;

/*
  * Borders
  * ------------------------------------------------------------------------ */

$border: 1px solid $colour-grey-200;

$border-radius-md: $baseline/4;
$border-radius-lg: $baseline/2;
$border-radius: $border-radius-md;

/*
  * Animation
  * ------------------------------------------------------------------------ */

$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1); /* easeInOutQuint */

/*
  * Exported Variables for JavaScript
  * ------------------------------------------------------------------------ */

:export {
  /* stylelint-disable */
  baseline: $baseline;
  media-xs: $container-width-xs;
  media-sm: $container-width-sm;
  media-md: $container-width-md;
  media-lg: $container-width-lg;
  media-xlg: $container-width-xlg;
  media-xxlg: $container-width-xxlg;
  font-scale: $font-scale;
  font-family-primary: $font-family-primary;
  // font-family-secondary: $font-family-secondary;
  colour-primary: $colour-primary;
  colour-secondary: $colour-secondary;
  colour-highlight: $colour-highlight;
  colour-yellow: $colour-yellow;
  colour-teal: $colour-teal;
  colour-black: $colour-black;
  colour-white: $colour-white;
  colour-grey-800: $colour-grey-800;
  colour-grey-900: $colour-grey-900;
  border-radius: $border-radius;
  border-radius-md: $border-radius-md;
  border-radius-lg: $border-radius-lg;
  /* stylelint-enable */
}
