@import '../../styles/global.scss';

.bookSpine {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.image {
  display: block;
  // max-height: percentage((84 + random(10)) / 100);
  width: auto;
}

.edgeHeight {
  max-height: 80%;
  // max-height: 255px;
}

.height0 {
  max-height: 75%;
}

.height1 {
  max-height: 77%;
}

.height2 {
  max-height: 79%;
}

.height3 {
  max-height: 82%;
}

.height4 {
  max-height: 84%;
  // max-height: percentage((75 + random(10)) / 100);
}
