@import '../../styles/global.scss';

.bookSpine {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.image {
  display: block;
  // max-height: percentage((84 + random(10)) / 100);
  width: auto;
}

.height0 {
  max-height: percentage((75 + random(10)) / 100);
}

.height1 {
  max-height: percentage((75 + random(10)) / 100);
}

.height2 {
  max-height: percentage((75 + random(10)) / 100);
}

.height3 {
  max-height: percentage((75 + random(10)) / 100);
}

.height4 {
  max-height: percentage((75 + random(10)) / 100);
}
